//- A section with columns 

mixin column-section(className, numOfColumns)
  section(
    class=`section column-section column-section-${numOfColumns} ${className}`
  )
    if block 
      .row
        block
