//- A section with a picture on one side and a text column on the other

mixin picture-column-section(className, imgSrc, imgSide)
  section(
    class=`picture-column-section ${className}${imgSide === 'right' ? ' img-right' : ' img-left'}`
  )
    if imgSrc !== null
      img.side-image(
        src=imgSrc
      )

    if block
      .flex-row
        .column
          block
