// General section
section.section
  position: relative

  &.slide-text
    display: flex
    flex-direction: column
    justify-content: center

  .section-content > .flex-row
    justify-content: space-around
  .section-column
    max-width: 720px
    > *:first-child
      margin-top: 0
    > *:last-child
      margin-bottom: 0

  &.centered
    text-align: center


// Multi column section
// section.column-section
@for $i from 2 to 6
  section.column-section-#{$i}
    .column
      width: calc((100% - #{($i - 1) * 40}px) / #{$i})
      margin-right: 40px
      &:last-child
        margin-right: 0
